@font-face {
    font-family: "Delicious-Roman";
    src: url("fonts/Delicious-Roman.ttf");
}
@font-face {
    font-family: "Delicious-Roman";
    src: url("fonts/Delicious-Roman.eot");
}
@font-face {
    font-family: "Delicious-Roman";
    src: url("fonts/Delicious-Roman.woff");
}
